* {
    margin: 0;
    box-sizing: border-box;
}

body { 
    color:  white;
    background-image: url("jermaine-ee-A2CChTZvzTE-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family : monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: white;
}

#git-hub {
    padding: 4px;
    position:  absolute;
    right: 0px;
    top: 0px;
}

#git-id {
    display: inline-flex;
    font-size: 17px;
    position: relative;
    bottom: 1px;  
}

h1 {
    font-size: 70px;
    margin: 70px 0 150px 0; 
    font-size: bold;
}

.container {
    backdrop-filter: blur(3px);
    background-color: rgba(128, 128, 128, 0.064);
    width: 100%;
    text-align: center;
    font-weight: bold;
}


#clock_container {
    font-size: 100px;
}

#date_container {
    font-size: 45px;
}
