* {
    margin: 0;
    box-sizing: border-box;
}

body { 
    background-color: whitesmoke;
    color: black;
    font-family : monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #000000bc;
}

#git-hub {
    padding: 4px;
    position:  absolute;
    right: 0px;
    top: 0px;
}

#git-id {
    display: inline-flex;
    font-size: 17px;
    position: relative;
    bottom: 1px;  
}

h1 {
    font-size: 70px;
    margin: 50px 0 30px 0; 
    font-size: bold;
}

#calculator_container {
  background-color: #404040;
  display: flex;
  padding: 20px;
  margin-bottom: 20px;
  flex-direction: column;
  border-radius: 10px;
}

#display_container {
  color: white;
  font-size: 60px;
  padding: 20px;
  margin-left: 10px;
  border-bottom: 2px solid grey;
}

#buttons_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 15px;
}

button {
  font-size: 24px;
  font-family: monospace;
  width: 70px;
  padding: 20px;
  border: none;
  border-radius: 50%;
  background-color: #1c1c1c;
  color: white;
  cursor: pointer;
}

#zero_button {
    grid-column: 2;
}

button:hover {
  background-color: #333;
}

.orange_text {
  color: #ff6f1f;
}

#equal_sign {
  background-color: #ff6f1f;
  color: white;
  font-size: 28px;
}

#display_number {
    border-radius: 0;
    padding: 5px 10px;
    width: fit-content;
    font-size: 15px;
}

#all_digits_container {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position:absolute;
    right: 400px;
    top: 250px;
}

#result_container {
    display: none;
    background-color: #1c1c1c;
    color: white;
    padding: 10px;
}